.scrollbar-mobile::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

.scrollbar-mobile::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the scrollbar track */
}

.scrollbar-mobile::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar thumb */
}

.scrollbar-mobile::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar thumb on hover */
}
